[Unit]
Description=Ethercalc, the collaborative spreadsheet editor.
After=network.target

[Service]
Type=simple
User=__APP__
Group=__APP__
WorkingDirectory=__FINALPATH__
Environment="PATH=__ENV_PATH__"
Environment="NODE_ENV=production"
ExecStart=__YNH_NPM__ ethercalc --port __PORT__ --expire __EXPIRE__
RuntimeMaxSec=86400
Restart=always

[Install]
WantedBy=multi-user.target
